#Contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eed6ec;
}

#Contenido-tarjeta{
    display: flex;
    min-width: 600px;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .4);
    background-image: url("Imagenes/23231-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

#Encabezado{
    border-right: 1px solid #c5c1c1;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
}

#Encabezado img{
    size-adjust: 10%;
    border-radius: 50%;
    filter: blur(60%);
    cursor: pointer;
    position: relative;
    display: block;
}

#Encabezado h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

#Encabezado h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

#Descripcion{
    font-style: italic;
    background: #000000;
    padding: 20px;
    text-align: center;
    position: relative;
}


#Descripcion p{
    margin: 20px 20px;
    color: rgb(202, 202, 202);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 50px;
    width: 50px;
    padding-left: 110px;
    padding-bottom: 30px;
}

.ghost{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid;
    color: gold;
    padding: 5px 30px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px; 
}
