#Contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-style: normal;
}

#Contenido-tarjeta{
    display: flex;
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .4);
    background-image: url("23231-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

#Encabezado{
    border-right: 1px solid #c5c1c1;
    padding: 15px;
    text-align: center;
}

#Descripcion{
    font-style: italic;
    background: #000000;
    padding: 20px;
    text-align: center;
    position: relative;
}

#Encabezado a{
    position: relative;
    display: block;
}

#Encabezado img{
    size-adjust: 10%;
    border-radius: 50%;
    filter: blur(60%);
}

#Encabezado h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Encabezado h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

#Descripcion p{
    margin: 20px 20px;
    color: rgb(202, 202, 202);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 60px;
}